<mat-toolbar color="primary" class="nav-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Productos oro (v27)</span>
    <div>
        <span>
            <button style="cursor: pointer;" mat-raised-button  (click)="logout()">Cerrar sesion</button>
        </span>
    </div>
</mat-toolbar>
<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="over" [class.mat-elevation-z4]="true" class="app-sidenav">
        <mat-nav-list>
            <mat-list-item routerLink="#">
                <div class="flexed">
                    <mat-icon>dashboard</mat-icon><span>Menu Principal</span>
                </div>              
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    Mantenimientos
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/app/lugares']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>add_location</mat-icon> <span>Lugares</span>
                        </div>                    
                    </a>
                    <a mat-list-item [routerLink]="['/app/clientes']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>face</mat-icon><span>Clientes</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/productos']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>shopping_cart</mat-icon><span>Productos</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/materia-prima']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>shopping_basket</mat-icon><span>Materia Prima</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/inventario']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>assignment_turned_in</mat-icon><span>Inventario</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/cierre-caja']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>poll</mat-icon><span>Entradas / Salidas</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/categorias-factura']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>work</mat-icon><span>Cat. Fact.</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/mixes']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>extension</mat-icon><span>Mezclas</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/depreciacion']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon> bar_chart</mat-icon><span>Depreciaciones</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/compras']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>add_shopping_cart</mat-icon><span>Compras</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/bolsas']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>build</mat-icon><span>Bolsas</span>
                        </div>                       
                    </a>
                    <a mat-list-item [routerLink]="['/app/etiquetas']" (click)="sidenav.toggle()">
                        <div class="flexed">
                            <mat-icon>bookmark_border</mat-icon><span>Etiquetas</span>
                        </div>                       
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
                
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        Transacciones
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['/app/prestamos']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>monetization_on</mat-icon><span>Creditos</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/facturacion']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>insert_drive_file</mat-icon><span>Facturación</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/calculadora']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>grade</mat-icon><span>Calculadora</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/calculadora-mezclas']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>card_travel</mat-icon><span>Calculadora Mezclas</span>
                            </div>                       
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        Reportes
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['/app/reporte-ventas']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>table_chart</mat-icon><span>Reporte Ventas</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/pedidos','0']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>add_shopping_cart</mat-icon><span>Pedidos</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/inventario-simulado']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>assignment_late</mat-icon><span>Ped. Simulados</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/reporte-impuestos']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>assignment_late</mat-icon><span>Fact. Impuestos</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/estado-resultados']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>table_chart</mat-icon><span>Est. Resultados</span>
                            </div>                       
                        </a>
                        <a mat-list-item [routerLink]="['/app/ventas-productos']" (click)="sidenav.toggle()">
                            <div class="flexed">
                                <mat-icon>dns</mat-icon><span>Ventas X Prod.</span>
                            </div>                       
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header>
                        Actualizaciones
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item (click)="update()">
                            <div class="flexed">
                                <mat-icon>update</mat-icon><span>Actualizar</span>
                            </div>                       
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="app-sidenav-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 
