.nav-bar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}


.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    padding: 1rem;
    align-items: baseline;
    justify-content: start;
} 


.flexed{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3px;
}