.card-data{
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: .2rem;
  }

  .v-center{
    padding: 2px 0;
  }

  ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(2n){
    background-color: #fcd1c6 !important;
  }